*{
    margin: 0;
    padding: 0;
}


.main{
    width: 100%;
    background: /*linear-gradient(to top, rgba(153, 55, 55, 0.5)40%,rgba(96, 14, 89, 0.5)60%), */ url(2.png);
    background-position: center;
    background-size:cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family:sans-serif ;
    /*padding-left: 20px;*/
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 15px;
}

ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;  
    font-family: Arial;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: orange;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
    margin-top: 16px;   
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 30px;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 30px;
    background: orange;
    border: 2px solid black;
    
    color: white;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}
